---
tags: post
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include "partials/head.njk" %}
</head>
<body>
<div id="page" class="site">


<header id="masthead" class="site-header" role="banner">
<div class="site-branding ">
<div class="top-header container">
<div class="blaskan-social-menu pull-right">
<div class="menu-social-menu-container">
<ul id="social-menu" class="menu">
<li class="menu-item"><a href="https://www.facebook.com/"><span>Facebook</span></a></li>
<li class="menu-item"><a href="https://twitter.com/"><span>Twitter</span></a></li>
<li class="menu-item"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/"><span>LinkedIn</span></a></li>
</ul>
</div> 
</div>

<div class="clearfix"></div>
</div>
<div class="container">
<a href="{{ metadata.url }}" class="custom-logo-link" rel="home" aria-current="page"><img width="177" height="55" src="/img/blaskan-logo.png" class="custom-logo" alt="Blaskan Demo" decoding="async" /></a>
</div>
</div>

{% include "partials/nav.njk" %}


<div class="custom-header" style="background-image: url('/blaskan-11ty/img/header.jpg');height:460px"></div>
</header>


</div>




<div id="content" class="site-content container">
<div id="primary" class="content-area row">
<main id="main" class="site-main col-md-8 col-sm-12" role="main">

  {% include "partials/longpost.njk" %}

  </main>


  <aside id="secondary" class="widget-area col-md-4 col-sm-12" role="complementary">
	  {% include "partials/sidebar.njk" %}
  </aside><!-- #secondary -->
</div>
</div>

{% include "partials/footer.njk" %}

</html>