---
tags: post
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include "partials/head.njk" %}
</head>
<body>
<div id="page" class="site">


  {% include "partials/header.njk" %}


</div>




<div id="content" class="site-content container">
<div id="primary" class="content-area row">
<main id="main" class="site-main col-md-8 col-sm-12" role="main">

  {% include "partials/longpost.njk" %}

  </main>


  <aside id="secondary" class="widget-area col-md-4 col-sm-12" role="complementary">
	  {% include "partials/sidebar.njk" %}
  </aside><!-- #secondary -->
</div>
</div>

{% include "partials/footer.njk" %}

</html>