<footer id="colophon" class="site-footer" role="contentinfo">

<div class="footer-widgets widget-area container">
<div class="row">
<div class="col-md-3 col-sm-6 col-xs-12"><section id="text-2" class="widget widget_text"> <div class="textwidget"><img src="https://149842022.v2.pressablecdn.com/wp-content/uploads/sites/63/2017/05/blaskan-white-logo.png">
<p>Quisque velit urna, blandit eu rhoncus ut, efficitur sit amet justo. Suspendisse lobortis erat nec massa egestas venenatis nec eu ligula. Vestibulum condimentum cursus magna, a finibus sapien sollicitudin a.</p>
<p>Proin a rutrum neque. Proin accumsan ipsum quis tellus venenatis dapibus. Phasellus sit amet mi mauris. Nullam vulputate est ut neque. sagittis.elementum lectus imperdiet. Aliquam lacinia felis sed ante volutpat, accumsan ullamcorper</p></div>
</section></div><div class="col-md-3 col-sm-6 col-xs-12">
<section id="recent-posts-3" class="widget widget_recent_entries">
<h5 class="widget-title">Recent Posts</h5>
<ul>
<li>TODO </li>
</ul>
</section></div><div class="col-md-3 col-sm-6 col-xs-12"><section id="categories-3" class="widget widget_categories">
<h5 class="widget-title">Categories</h5>
<ul>
<li class="cat-item cat-item-4">TODO</li>
</ul>
</section></div><div class="col-md-3 col-sm-6 col-xs-12"><section id="calendar-2" class="widget widget_calendar"><div id="calendar_wrap" class="calendar_wrap">
CALENDAR???
</section></div> </div>
</div>
<div class="site-info">
<div class="container">
<div class="row">
<div class="copyright-info col-md-6 col-sm-12">
<a href="https://11ty.dev/">Proudly powered by 11ty</a>
<span class="sep"> | </span>
Theme: Blaskan by <a href="https://colorlib.com/" target="_blank" rel="designer">Colorlib.com</a>. </div>
<div class="main-footer-navigation col-md-6 col-sm-12">
<div class="menu-footer-container"><ul id="footer-menu" class="menu"><li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a href="#">Sitemap</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36"><a href="#">Privacy Policy</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37"><a href="#">Terms of use</a></li>
</ul></div> </div>
</div>
</div>
</div>

</footer>