<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="robots" content="noindex,nofollow" />

<title>{{ title }} - {{ metadata.title }}</title>
<meta name="description" content="{{ description }}" />

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }} - {{ metadata.title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ metadta.url }}" />
<meta property="og:site_name" content="{{ metadata.title }}" />
<meta name="twitter:card" content="summary" />

<link rel="stylesheet" href="./styles/bootstrap.css">
<link rel="stylesheet" href="./styles/style.css">