{% block content %}
<article  class="col-md-12 col-sm-12 post type-post status-publish format-standard has-post-thumbnail hentry">

<div class="entry-thumbnail"><img width="1140" height="760" src="/img/{{ image }}" class="attachment-small-blog-post size-small-blog-post" alt decoding="async" fetchpriority="high" /></div>
<div class="entry-meta">
<span class="byline">by <span class="author vcard"><a class="url fn n" href="https://colorlibhub.com/blaskan/author/demoblaskan/">{{ author }}</a></span></span>
<span class="category-delimeter"> - </span>
<span class="cat-links">
{%- for t in categories -%}<a href="https://colorlibhub.com/blaskan/category/{{ t }}" rel="category tag">{{ t }}</a>{%if loop.index0+1 < categories.length %},&nbsp{%endif %}{%- endfor -%}
</span>
<span class="posted-on"><span class="posted-on-delimeter"> - </span><a href="{{ permalink }}" rel="bookmark"><time class="entry-date" datetime="{{ date | postDate }}">{{ date | postDate }}</time></a></span> </div>




<header class="entry-header">
  <h1 id="title" class="entry-title">{{ title }}</h1> 
  </header>
<div class="entry-content">
  {{ content | safe }}
</div>
</article>


{% endblock %}