Searchbar


{# Author section #}
<section class="widget widget_blaskan_author_widget">
<h5 class="widget-title">About Author</h5>
<div class="author-social-menu"><ul id="social-menu" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33"><a href="https://www.facebook.com/colorlib"><span>Facebook</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32"><a href="https://twitter.com/colorlib"><span>Twitter</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/colorlib/"><span>LinkedIn</span></a></li>
</ul></div></section>

{# Recent posts #}
{% include "partials/recentPosts.njk" %}


{# categories #}
catergories


{# tag cloud #}
tags